# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Testing & cache
.pytest_cache/
.coverage
htmlcov/

# OS and IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
